__pycache__/
*.py[cod]
*$py.class
.dvc/
*.log

venv/
env/
ENV/
.venv/
.python-version
/data
Pipfile.lock
poetry.lock

.vscode/
.idea/

.DS_Store
Thumbs.db
.env
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

*.egg
*.egg-info/
dist/
build/
*.wheel
site/

docker-compose.override.yml


checkpoints/

logs/
events.out.tfevents.*

.ipynb_checkpoints
*.~nb~

input/
output/
*.pkl
*.joblib

*.png
*.jpg
*.jpeg
*.svg
*.pdf

weights/
